<h1>About Social App</h1>
<hr>
<div class='d-flex justify-content-center align-items-center'>
<div class='col-md-6'>
  <div>
    <p>This app was created by a certain intern.</p>
  </div>
  <div>
    <p>Said intern put his best effort forth into creating a social media app.</p>
  </div>
  <div>
    <p>He used experience from various past apps to bring make this a reality.</p>
  </div>
  <div>
    <hr>
  </div>
  <div>
    <p>Hope you enjoy it.</p>
  </div>
</div>
